{% extends "base.html" %}

{% block title %}My amazing library{% endblock %}

{% block content %}
<table border = "1px" align = "center" style = "border-collapse:collapse;">
	<thead>
		<tr>
			<th colspan = "3">
				<h1>Currnet list of movies that were added</h1>
			</th>
		</tr>
		<tr>
			<th>Movie name</th>
			<th>Movie genre</th>
			<th>Movie description</th>
		</tr>
	</thead>
{%for e in full_movies %}
<tr>
<td>
	{{e.name}}
</td>
<td>
	{{e.genre}}
</td>
<td>
	{{e.description}}
</td>
</tr>
{% endfor %}
<table>
	<p align="center"><a href="/add"><strong>Add another movie</strong></a></p>

{% endblock %}